.header {    
  transition: background-color 600ms ease, backdrop-filter 600ms ease, margin 300ms cubic-bezier(0.1, 0, 0, 1), border-radius 600ms cubic-bezier(0, 1, 0, 1);
	border-radius: 0!important;

	&[data-scrolled="true"] {
		background-color: light-dark(rgba(235,235,235,0.7), rgba(44, 46, 51, 0.7));
		backdrop-filter: blur(12px);
		margin: 15px;
		border: 1px solid var(--mantine-color-default-border);
		border-radius: var(--mantine-radius-xl)!important;
	}
}