.topic {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: var(--mantine-spacing-md);
	border-radius: var(--mantine-radius-xl);
	box-shadow: var(--mantine-shadow-lg);
	border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
	width: 100%;
	height: 100%;
	transition: opacity cubic-bezier(0, 0, 0, 1) 200ms;
	
	&:hover {
		opacity: 0.4;
	}

	overflow: hidden;
}

.icon {
	position: absolute;
	right: -25px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.05;
}