.root {
  background: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
  border-radius: var(--mantine-radius-lg);
}

.label {
  font-weight: 600;
}

.item {
  padding: 8px;
  background: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
  border: 1px solid transparent;
  position: relative;
  z-index: 0;
  transition: transform 150ms ease;
}

.item[data-active] {
  transform: scale(1.03);
  background: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  box-shadow: var(--mantine-shadow-md);
  border-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-4)
  );
  border-radius: var(--mantine-radius-xl);
  z-index: 1;
}

.chevron[data-rotate] {
  transform: rotate(-90deg);
}
