.root {
  background-color: light-dark(white, var(--mantine-color-dark-4));
  transition: opacity 200ms cubic-bezier(0, 0, 0, 1), transform 200ms cubic-bezier(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-md);
  box-shadow: var(--mantine-shadow-md);
}

/* Increase specificity to override UnstyledButton defaults */
button.root {
  background-color: light-dark(white, var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-md);
}

.root:hover {
  transform: scale(1.05);
}

.root:hover .arrow {
  transform: translate(6px, -6px);
}

.root:hover .arrowIcon {
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.arrow {
  transition: transform 200ms cubic-bezier(0, 0, 0, 1);
}

.arrowIcon {
  transition: opacity 200ms cubic-bezier(0, 0, 0, 1);
  opacity: 0.2;
}
