{
  "Parameters" : {
    "pSourceBucket"   : "{{ source_bucket }}",
    "pBucketPath"     : "{{ bucket_path }}",
    "pCleanBranch"    : "{{ clean_branch }}",
    "pEnvironment"    : "{{ environment }}",
    "pHostedZone"     : "{{ hosted_zone }}",
    "pSslCertificate" : "{{ ssl_certificate }}",
    "pSubDomain"      : "{{ sub_domain }}"
  },
  "Tags" : {
    "product"     : "{{ product_name }}",
    "component"   : "{{ product_component }}",
    "environment" : "{{ environment }}",
    "branch"      : "{{ src_branch }}",
    "version"     : "{{ commit_id }}",
    "build"       : "{{ codebuild_build_number }}"
  },
  "StackPolicy" : {
    "Statement" : [
      {
        "Effect" : "Allow",
        "Action" : "Update:*",
        "Principal": "*",
        "Resource" : "*"
      }
    ]
  }
}
