{
  "Parameters" : {
    "pAllowListedIps" : "{{ allow_listed_ips }}",
    "pCleanBranch"    : "{{ clean_branch }}",
    "pEnvironment"    : "{{ environment }}"
  },
  "Tags" : {
    "product"     : "{{ product_name }}",
    "component"   : "{{ product_component }}",
    "environment" : "{{ environment }}",
    "branch"      : "{{ src_branch }}",
    "version"     : "{{ commit_id }}",
    "build"       : "{{ codebuild_build_number }}"
  },
  "StackPolicy" : {
    "Statement" : [
      {
        "Effect" : "Allow",
        "Action" : "Update:*",
        "Principal": "*",
        "Resource" : "*"
      }
    ]
  }
}
