.rank {
	flex-grow: 1;
  border-top-right-radius: var(--mantine-radius-md);
  border-bottom-right-radius: var(--mantine-radius-md);

	&:hover {
		background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
	}
}